# AppPromos - Mercado Pago
# Pegá tu Access Token de Mercado Pago acá.
# No subas este archivo a GitHub.

MP_ACCESS_TOKEN=TEST-1671751742133630-050809-8132ad02f755ac0bdad169d3199f0b86-93572426
MP_NOTIFICATION_URL=
